@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 249; /* #FAFAF9 */
    --foreground: 26 77 46; /* #1A4D2E */
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
